name: Python CI
on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
  release:
    types: [created]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4.2.0
      - name: Install Python
        uses: actions/setup-python@v5.2.0
        with:
          python-version: "3.10"
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install ruff>=0.2.0 mypy==1.9.0
      # Update output format to enable automatic inline annotations.
      - name: Run Ruff
        run: ruff check --output-format=github .
      - name: Run Ruff Format
        run: ruff format --check .
      - name: Run Mypy
        run: mypy --ignore-missing-imports .
